.header {
  text-align: center !important;
  color: white;
  margin-top: 10px;
}

::ng-deep .single-image-carousel .p-carousel-items-content {
  display: flex;
  justify-content: center;
  align-items: center;
  //   height: 30px;  
  overflow: hidden;
}

::ng-deep .single-image-carousel .p-carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img.faculty-image {
  height: auto;
  width: 530px;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  img.faculty-image {
    width: 255px;
  }
  
}