<div class="banner-container">
    <h2 class="header">Our Upcoming Projects</h2>
    <div class="p-3 w-100 project-card">
        @for (card of cards; track $index) {
            <div class="p-2">
                <p-card [style]="{ width: '23rem', overflow: 'hidden' }">
                    <ng-template #header>
                        <img alt="Card" style="width: 368px; height: 200px;" [src]="card.image" />
                    </ng-template>
                    <ng-template #title> {{card.title}} </ng-template>
                    <p>
                        {{card.desc}}
                    </p>
                </p-card>
            </div>   
        }
    </div>
</div>