<div class="container main-container py-4">
    <div class="page-header">
      <div>
        <h1 class="page-title">{{moduleHeader}}</h1>
      </div>
    </div>
    
    <div class="row">
      <!-- Sidebar with lecture list -->
      <div class="col-md-4">
        <div class="sidebar mb-4 mb-md-0 shadow white-bg order-md-1">
          <div class="d-flex justify-content-between align-items-center sidebar-header">
            <h2 class="mt-2">Lectures</h2>
            @if (isAddButton) {
              <div>
                <button class="btn" (click)="openDialog()"><i class="bi bi-plus"></i> Add Lesson</button> 
             </div>
            }
          </div>
        @for (lesson of lessons; track $index) {
          <div class="lecture-item" (click)="changeLesson(lesson)" [ngClass]="{'active': lesson._id == currentLesson._id}">
            <div class="lesson-header">
              <h3 class="lecture-title">{{lesson.title}}</h3>
              @if (isAddButton) {
              <div class="text-end">
                <button class="mr-2 edit-btn" [pTooltip]="'Edit'" (click)="editLesson(lesson)">
                  <i class="bi bi-pencil-square"></i>
                </button>
                <button class="dlt-btn" [pTooltip]="'Delete'" (click)="deleteLesson(lesson)">
                  <i class="bi bi-trash-fill"></i>
                </button>
              </div>
            }
            </div>
            <p class="lecture-description">{{lesson.description}}</p>
          </div>
        }
        </div>
      </div>
      
      <!-- Main content -->
      <div class="col-md-8">
        <div class="shadow main-content white-bg order-md-2 order-sm-1">
          @if (isAddButton) {
            <div class="text-end">
                @if (lessonContent?.length == 0 && !isAddLesson) {
                <button (click)="addLessonContent()" class="btn mt-2"><i class="bi bi-plus"></i> Add Lesson Content</button> 
                }@else if(isAddLesson) {
                  <button (click)="submitLesson()"  class="btn mt-2 submit-btn"><i class="bi bi-bookmark-check-fill me-2"></i>Submit</button> 
                  <button (click)="cancelEdit()"  class="btn mt-2 cancel-btn"><i class="bi bi-x-lg me-2"></i>Cancel</button> 
                }
            </div>
            @if (isAddLesson) {
              <div class="flex flex-col gap-6 items-center justify-center mt-4">
                <!-- <p-fileupload #fu mode="basic" chooseLabel="Choose" (onSelect)="onVideoSelect($event)" chooseIcon="pi pi-upload" name="demo[]"  accept="video/*" maxFileSize="10000000000"/> -->
                <input type="text" pInputText [(ngModel)]="url" placeholder="Paste the link here" />
            </div>
            <div *ngIf="videoPreviewUrl" class="flex items-center gap-2 text-gray-700 preview-container">
              <i class="bi bi-camera-video-fill me-2"></i>
              <span class="truncate">{{ getFileName(videoPreviewUrl) }}</span>
              <button class="dlt-btn dlt-preview" (click)="deleteVideo()" [pTooltip]="'Delete'">
                <i class="bi bi-trash-fill"></i>
              </button>
            </div>
            <div class="mt-4">
              <p-editor [(ngModel)]="text" [style]="{ height: '320px' }" />
            </div>
          } 
        }
  
          @if (lessonContent?.length > 0 && !isAddLesson) {
            @if (isAddButton) {
              <div class="text-end">
                <button (click)="editLessonContent()" class="btn mt-2"> <i class="bi bi-pencil-square"></i> Edit</button> 
              </div>
            }
            <div #videoWrapper class="video-container" >
              <!-- <video class="video-js vjs-default-skin vjs-big-play-centered" #videoPlayer disablePictureInPicture width="780" height="500" controlsList="nodownload" (contextmenu)="$event.preventDefault()" controls *ngIf="lessonContent?.[0]?.url">
                <source src="http://localhost:3000/public/videos/6804e86bf3ac70464280a4d9/master.m3u8" type="application/x-mpegURL"/>
              </video> -->
              <!-- <div *ngIf="showWatermark" class="water-mark" [ngStyle]="{ top: position.y + 'px', left: position.x + 'px' }">
                {{email}}<br>
                {{name}}
              </div> -->
              @if (safeYoutubeUrl) {
                <iframe width="560" height="315" allowfullscreen [src]="safeYoutubeUrl" frameborder="0"></iframe>
              }
            </div>
    
              <div class="mt-4 note-section" [innerHTML]="lessonContent?.[0]?.note"></div>
          }
        </div>
      </div>
    </div>
  </div>

  <p-dialog [header]="dialogHeader" [modal]="true" [(visible)]="showDialog" (visibleChange)="closeDialog()"
  [style]="{ width: '30rem' }">
  <form #moduleForm="ngForm">
    <div class="space-y-4">
      <div class="grid grid-cols-1 gap-4">
        <div class="flex justify-center mt-2">
          <p-iftalabel>
             <input pInputText name="code" id="code" [(ngModel)]="input.code" autocomplete="off" />
             <label for="code" class="required">Code</label>
         </p-iftalabel>
      </div>
      
      <div class="flex justify-center mt-4">
        <p-iftalabel>
           <input pInputText name="title" id="title" [(ngModel)]="input.title" autocomplete="off" />
           <label for="title" class="required">Title</label>
       </p-iftalabel>
    </div>

    <div class="flex justify-center mt-4">
      <p-iftalabel>
         <textarea pInputText name="description" id="description" [(ngModel)]="input.description" autocomplete="off"></textarea>
         <label for="description">Description</label>
     </p-iftalabel>
  </div>
      </div>
    </div>
    <div class="text-end mt-4">
      <button type="button" class="mr-2  btn cancel-btn" (click)="closeDialog()"><i
          class="fa-solid fa-times me-2"></i>Cancel</button>
          <button type="button" class="btn-green hover:bg-[#d99d3f] btn" (click)="save()"><i
            class="fa-solid fa-save me-2"></i>Save</button>
    </div>
  </form>
</p-dialog>
