.group-header {
    color: orange;
}
:host ::ng-deep {
    .p-datatable-table-container{
        overflow: auto;
        height: calc(100vh - 89px);
        min-height: 500px;
    }
    .p-listbox.p-component{
        min-height: 500px;
        height: calc(100vh - 90px);
        overflow: auto;
    }
}