<div class="container py-5">
    <div class="d-flex justify-content-between">
        <div>
            <h1 class="page-title mb-2">First Year Courses</h1>
            <p class="subtitle mb-4">Select a course to access video lectures</p>
        </div>
        @if (isAddButton) {
          <div>
             <button class="btn" (click)="openDialog()"><i class="bi bi-plus"></i> Add</button> 
          </div>
        }
    </div>

    <div class="row g-4">
        @for (course of modules; track $index) {
        <!-- Course 1 -->
        <div class="col-md-6 col-lg-4" >
            <div class="course-card card">
                <div class="card-header">
                  <div>
                    {{course.title}}
                  </div>
                    @if (isAddButton) {
                      <div class="text-end">
                        <button  [pTooltip]="'Edit'" (click)="editModule(course)">
                          <i class="bi bi-pencil-square"></i>
                        </button>
                        <button [pTooltip]="'Delete'" (click)="deleteModule(course)">
                          <i class="bi bi-trash-fill"></i>
                        </button>
                      </div>
                    }
                </div>
                <div class="card-body" (click)="navigateToLesson(course)">
                    <p class="course-description">{{course.description}}</p>
                    <div class="lecture-info">
                        <div class="icon-circle">
                            <i class="bi bi-play-fill"></i>
                        </div>
                        {{course.lessonCount}}
                          lectures
                    </div>
                </div>
            </div>
        </div>
        }

        @if(modules.length ==0) {
          <h3 class="text-center">No data found!</h3>
        }
    </div>
</div>

<p-dialog [header]="dialogHeader" [modal]="true" [(visible)]="showDialog" (visibleChange)="closeDialog()"
  [style]="{ width: '30rem' }">
  <form #moduleForm="ngForm">
    <div class="space-y-4">
      <div class="grid grid-cols-1 gap-4">
        <div class="flex justify-center mt-2">
          <p-iftalabel>
             <input pInputText [required]="true" name="code" id="code" [(ngModel)]="input.code" autocomplete="off" />
             <label  class="required" for="code">Code</label>
         </p-iftalabel>
      </div>
      
      <div class="flex justify-center mt-4">
        <p-iftalabel>
           <input pInputText [required]="true" name="title" id="title" [(ngModel)]="input.title" autocomplete="off" />
           <label  class="required" for="title">Title</label>
       </p-iftalabel>
    </div>

    <div class="flex justify-center mt-4">
      <p-iftalabel>
         <textarea pInputText [required]="true" name="description" id="description" [(ngModel)]="input.description" autocomplete="off"></textarea>
         <label for="description" class="required">Description</label>
     </p-iftalabel>
  </div>
      </div>
    </div>
    <div class="text-end mt-4">
      <button type="button" class="mr-2  btn cancel-btn" (click)="closeDialog()"><i
          class="fa-solid fa-times me-2"></i>Cancel</button>
          <button type="button" class="btn-green hover:bg-[#d99d3f] btn" [disabled]="moduleForm.invalid" (click)="save()"><i
            class="fa-solid fa-save me-2" ></i>Save</button>
    </div>
  </form>
</p-dialog>