.sub-header{
    background-color: white;
    border-bottom: 1px solid #e1e1e1;
    padding: 15px 0;
  }

  button{
    background: #7b5cf1;
    color: white;
    border: none;
    padding: 4px 20px;
  }