<header class="bg-white shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-light container py-2">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="assets/images/psyq final logo 11copy.png" style="width: 128px;" alt="">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        @if (loggedUser) {
        <a (click)="showProfileDialog = true" class="text-decoration-none">
          <i class="bi bi-person-circle logo-color fs-5"></i>
        </a>

        }@else {
        <a [routerLink]="['/login']" class="sign-in shadow">Sign in</a>
        }
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">About Us</a>
          </li>
          @if (loggedUser?.isAdmin) {
          <li class="nav-item dropdown" style="position: relative;">
            <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Administration
            </a>
            <ul class="dropdown-menu" aria-labelledby="adminDropdown">
              <li><a class="dropdown-item" [routerLink]="['/administration/user-list']">User List</a></li>
              <li><a class="dropdown-item" [routerLink]="['/administration/course-mapping']">Course Mapping</a></li>
            </ul>
          </li>
          }
        </ul>
        <div>
          @if (loggedUser) {
          <a (click)="showProfileDialog = true" class="text-decoration-none">
            <i class="bi bi-person-circle logo-color fs-5"></i>
          </a>

          }@else {
          <a [routerLink]="['/login']" class="sign-in shadow">Sign in</a>
          }
        </div>
      </div>
    </div>
  </nav>
</header>

<p-dialog [(visible)]="showProfileDialog" [header]="'Profile'" [modal]="true" [style]="{ width: '300px' }"
  [draggable]="false" [resizable]="false" [position]="'topright'" contentStyleClass="profile-dialog-content">
  <div class="profile-dialog">
    <div class="avatar">
      {{ loggedUser?.name?.charAt(0).toUpperCase() }}
    </div>
    <div class="details">
      <div class="name">{{ loggedUser?.name }}</div>
      <div class="email">{{ loggedUser?.email }}</div>
      <div class="logout" (click)="logout()">
        <i class="bi bi-box-arrow-right"></i> Logout
      </div>
    </div>
  </div>
</p-dialog>