<div class="container-fluid py-5  banner-container
">
  <div class="row">
    <div class="col-lg-6 col-md-7 col-12 mb-4 mb-lg-0">
      <span class="coursera-plus mb-3 d-inline-block">Psyq</span>
      <div class="banner-title mt-5">
        Achieve your career goals with <span class="main">Psyq</span>
      </div>
      <div class="banner-desc mb-4">
        Subscribe to build job-ready skills from world-class institutions.
      </div>
      <a routerLink="/home" class="cta-btn btn btn-primary btn-lg mt-3">Start 7-day Free Trial</a>
    </div>
    <div class="col-lg-6 col-md-5 col-12 d-flex justify-content-center">
      <div class="banner-image position-relative">
        <img src="/assets/images/banner.png" alt="" class="img-fluid" style="max-width: 100%; height: auto;">
      </div>
    </div>
  </div>
</div> 